<form nz-form [nzLayout]="'vertical'" [formGroup]="coverLetterForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzFor="coverLetterTitle" nzRequired>Title</nz-form-label>
    <nz-form-control [nzErrorTip]="titleErrorTpl">
      <input
        nz-input
        id="coverLetterTitle"
        formControlName="title"
        data-testid="coverLetterTitle"
      />
      <ng-template #titleErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Title is required
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Content</nz-form-label>
    <nz-form-control>
      <ckeditor
        formControlName="content" 
        data-testid="coverLetterContent"
        [config]="config"
        [editor]="Editor"
      ></ckeditor>
    </nz-form-control>
  </nz-form-item>
</form>