<app-single-column-layout title="Interview">
  <nz-page-header-extra>
    <a nz-button routerLink="new" data-testid="newButton" nzType="primary">New</a>
  </nz-page-header-extra>
  
  <nz-table
    #interviewTable
    data-testid="interviewTable"
    [nzData]="interviews"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>Title</th>
        <th>Position</th>
        <th>Company</th>
        <th>Began At</th>
        <th>Status</th>
        <th width="15%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interview of interviewTable.data; trackBy: trackById">
        <td>
          <a [routerLink]="[interview.id]">{{ interview.interviewerName }}</a>
        </td>
        <td>{{ interview.applicationPosition }}</td>
        <td>{{ interview.companyName }}</td>
        <td>{{ interview.at | date:'short' }}</td>
        <td>{{ getTypeOfText(interview.typeOf) }}</td>
        <td>
          <a
            [attr.data-testid]="'editInterview-' + interview.id"
            [routerLink]="[interview.id, 'edit']"
          >Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            [attr.data-testid]="'deleteInterview-' + interview.id"
            nzPopconfirmTitle="Are you sure delete this interview?"
            nzPopconfirmPlacement="right"
            (nzOnConfirm)="onDeleteConfirm(interview)"
          >Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
</app-single-column-layout>
