<app-single-column-layout title="Interview">
  <nz-page-header-extra>
    <a nz-button routerLink="new" data-testid="newButton" nzType="primary">New</a>
  </nz-page-header-extra>
  
  <ng-container *ngIf="(interview$ | async) as interview; else emptyResult">
    <nz-table
      data-testid="interviewTable"
      [nzData]="interview.data"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="interview.totalCount"
      [nzPageSize]="interview.pageSize"
      [nzPageIndex]="interview.currentPage"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th>Title</th>
          <th>Position</th>
          <th>Company</th>
          <th>Began At</th>
          <th>Status</th>
          <th width="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of interview.data">
          <td>
            <a [routerLink]="[data.id]">{{ data.interviewerName }}</a>
          </td>
          <td>{{ data.applicationPosition }}</td>
          <td>{{ data.companyName }}</td>
          <td>{{ data.at | date:'short' }}</td>
          <td>{{ getTypeOfText(data.typeOf) }}</td>
          <td>
            <a
              [attr.data-testid]="'editInterview-' + data.id"
              [routerLink]="[data.id, 'edit']"
            >Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              [attr.data-testid]="'deleteInterview-' + data.id"
              nzPopconfirmTitle="Are you sure delete this interview?"
              nzPopconfirmPlacement="right"
              (nzOnConfirm)="onDeleteConfirm(data)"
            >Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  
  <ng-template #emptyResult>
    <nz-empty></nz-empty>
  </ng-template>
  
</app-single-column-layout>
