::ng-deep .ant-timeline-item {
  .ant-timeline-item-content {
    top: 21px;
    margin-bottom: 21px;
  }

  .ant-card-head {
    font-size: 12px;
    padding: 0;
    min-height: auto;
  }

  .ant-card-head-wrapper {
    .ng-star-inserted {
      padding: 5px 0;
    }
  }

  .ant-card-body {
    padding: 5px 0;
  }

  .ant-drawer-body {
    padding-left: 54px;
  }

  .timeline-date {
    padding: 10px;
  }

  .ant-card-body .ng-star-inserted p {
    margin-bottom: 0px;
  }
}

::ng-deep .ant-timeline {
  margin-left: 25px;

  .ant-timeline-item-pending .ant-timeline-item-content {
    top: -7px;
    margin-bottom: auto;
  }
}