<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b><%= t 'title.version' %></b>&nbsp;1.0.0
  </div>
  <strong>Made by <a href="https://github.com/emilio2hd/myinterviews" target="_blank">Emilio</a>.</strong>
</footer>