<header class="main-header">
  <!-- Logo -->
  <a href="../../index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><%= t 'title.system_menu_title_mini_html' %></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><%= t 'title.system_menu_title_html' %></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top"></nav>
</header>