<header class="main-header">
  <!-- Logo -->
  <%= link_to root_path, class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><%= t 'title.system_menu_title_mini_html' %></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><%= t 'title.system_menu_title_html' %></span>
  <% end %>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top"></nav>
</header>