<% content_header t 'home.head_title' %>

<div class="row">
  <div class="col-md-6">
    <%= render 'last_applications' %>
  </div>
  <div class="col-md-6">
    <%= render 'next_interviews' %>
  </div>
</div>