<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>MyInterviews</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <span><a routerLink="/welcome">Welcome</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="file-text"></i>
        <span><a routerLink="/cover-letter">Cover Letter</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="team"></i>
        <span><a routerLink="/interview">Interviews</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="solution"></i>
        <span><a routerLink="/job-application">Job Applications</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="setting"></i>
        <span><a routerLink="/settings">Settings</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row nzJustify="space-between">
          <div nz-col>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
            </span>
          </div>
          <div nz-col class="button-add-interviews">
            <a routerLink="/interview/new" nz-button nzType="primary">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              New Interview
            </a>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div nz-row nzJustify="space-between">
        <div nz-col nzFlex="auto">
          <strong>Made by <a href="https://github.com/emilio2hd/myinterviews" target="_blank">Emilio</a>.</strong>
        </div>
        <div nz-col nzFlex="100px"><b>Version</b>&nbsp;2.0.0</div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
