<nz-space nzDirection="vertical">

  <nz-space-item>
    <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="onBack()">
      <nz-page-header-title>Cover Letter</nz-page-header-title>
      <nz-page-header-subtitle>Send Email</nz-page-header-subtitle>
    </nz-page-header>
  </nz-space-item>

  <nz-space-item>
    <nz-card>
      <ng-template #emailWarning>
        <div>You don't have the email settings configured.</div>
        <div>Got to <a routerLink='/settings'>Settings</a> to manage it</div>
      </ng-template>
      <nz-alert
        *ngIf="(hasNoSettings$ | async)"
        nzShowIcon
        nzType="warning" 
        [nzMessage]="emailWarning"
      ></nz-alert>
      
      <form nz-form [nzLayout]="'vertical'" [formGroup]="emailForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzFor="emailTo" nzRequired>To</nz-form-label>
          <nz-form-control [nzErrorTip]="toErrorTpl">
            <input nz-input id="emailTo" formControlName="emailTo" />
            <ng-template #toErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                To is required
              </ng-container>
              <ng-container *ngIf="control.hasError('email')">
                To not a valid email
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="subjectTo" nzRequired>Subject</nz-form-label>
          <nz-form-control [nzErrorTip]="subjectErrorTpl">
            <input nz-input id="subjectTo" formControlName="subject" />
            <ng-template #subjectErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Subject is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Attachment</nz-form-label>
          <nz-form-control [nzErrorTip]="subjectErrorTpl">
            <app-file-upload formControlName="attachment"></app-file-upload>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>Message</nz-form-label>
          <nz-form-control>
            <ckeditor [editor]="Editor" formControlName="message"></ckeditor>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary"
              data-test-id="saveButton"
              [disabled]="!this.emailForm.valid"
            >
            Send
          </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-space-item>

</nz-space>