<nz-space nzDirection="vertical">

  <nz-space-item>
    <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="onBack()">
      <nz-page-header-title>Interview</nz-page-header-title>
      <nz-page-header-subtitle>New</nz-page-header-subtitle>
    </nz-page-header>
  </nz-space-item>

  <nz-space-item>
    <nz-card>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="interviewForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="interviewerApplication" nzRequired>Application</nz-form-label>
              <nz-form-control [nzErrorTip]="errorApplicationTpl">
                <nz-select
                  id="interviewerApplication"
                  formControlName="myApplicationId"
                  nzPlaceHolder="Select application"
                  nzAllowClear
                >
                  <ng-container *ngIf="(applications$ | async) as applications">
                    <nz-option 
                      *ngFor="let application of applications"
                      [nzValue]="application.id" [nzLabel]="getApplicationLabel(application)" >
                    </nz-option>
                  </ng-container>
                </nz-select>
                <ng-template #errorApplicationTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Application is required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-label nzFor="interviewerTypeOf">Type</nz-form-label>
              <nz-form-control>
                <nz-select
                  id="interviewerTypeOf"
                  formControlName="typeOf"
                  nzPlaceHolder="Select interview type"
                >
                  <nz-option nzValue="talk" nzLabel="Talk"></nz-option>
                  <nz-option nzValue="technical" nzLabel="Technical"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label nzFor="interviewerAt">At</nz-form-label>
              <nz-form-control>
                <nz-date-picker 
                  [nzShowTime]="{ nzFormat: 'HH:mm' }"
                  id="interviewerAt" 
                  formControlName="at"
                  nzFormat="yyyy-MM-dd HH:mm"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="interviewerName" nzRequired>Interviewer Name</nz-form-label>
              <nz-form-control [nzErrorTip]="errorTpl">
                <input
                  nz-input
                  id="interviewerName"
                  formControlName="interviewerName"
                />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Interviewer name is required
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="interviewerEmail">Interviewer Email</nz-form-label>
              <nz-form-control [nzErrorTip]="errorEmailTpl">
                <input
                  nz-input
                  id="interviewerEmail"
                  formControlName="interviewerEmail"
                />
                <ng-template #errorEmailTpl let-control>
                  <ng-container *ngIf="control.hasError('email')">
                    Interviewer email is not valid
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        
        <nz-form-item>
          <nz-form-label>Notes</nz-form-label>
          <nz-form-control>
            <ckeditor [editor]="Editor" formControlName="notes"></ckeditor>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label>Feedback</nz-form-label>
          <nz-form-control>
            <ckeditor [editor]="Editor" formControlName="feedback"></ckeditor>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary"
              data-test-id="saveButton"
              [disabled]="!this.interviewForm.valid"
            >
            Save
          </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-space-item>

</nz-space>