<nz-space nzDirection="vertical">

  <nz-space-item>
    <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="onBack()">
      <nz-page-header-title>Cover Letter</nz-page-header-title>
      <nz-page-header-subtitle>New</nz-page-header-subtitle>
    </nz-page-header>
  </nz-space-item>

  <nz-space-item>
    <nz-card>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="coverLetterForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzFor="coverLetterTitle" nzRequired>Title</nz-form-label>
          <nz-form-control [nzErrorTip]="errorTpl">
            <input
              nz-input
              name="coverLetterTitle"
              formControlName="title"
              placeholder="input placeholder"
            />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Title is required
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Content</nz-form-label>
          <nz-form-control>
            <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary"
              data-test-id="saveButton"
              [disabled]="!this.coverLetterForm.valid"
            >
            Save
          </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-space-item>

</nz-space>