<nz-space nzDirection="vertical" *ngIf="(coverLetter$ | async) as coverLetter">

  <nz-space-item>
    <nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="onBack()">
      <nz-page-header-title>Cover Letter</nz-page-header-title>
      <nz-page-header-subtitle>{{ getHeader(coverLetter) }}</nz-page-header-subtitle>
    </nz-page-header>
  </nz-space-item>

  <nz-space-item>
    <nz-card>
      <app-cover-letter-form
        [coverLetter]="coverLetter"
        (formSubmit)="onFormSubmit($event);"
      ></app-cover-letter-form>
    </nz-card>
  </nz-space-item>

</nz-space>
